* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo-link {
	display: flex;
	height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
	align-items: center;
    border: 1px solid black;
}



#openMenu, #closeMenu {
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;
}





a {
	text-decoration: none;
	color: inherit;
}

@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		display: block;
        background-color: var(--color-gradient);
	}

	#openMenu {
		margin-left: auto;
	}

	#closeMenu {
		position: fixed;
		right: 15px;
		top: 15px;
	}

	nav {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: white;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}

	nav a {
		margin: 3%;
	}
}



ul {
    width: 350px;
    display: flex;
    position: relative;
}

li {
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 1;
}



.icon {
    display: block;
    line-height: 80px;
    font-size: 40px;
    color: black;
    position: relative;
    transition: transform .5s ease-in-out, color .5s ease-in-out;
}

.text {
    color: #7533cb;
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    transform: translateY(20px);
    font-size: 18px;
}

li.ativo .icon {
    transform: translateY(-25px);
    color: #7533cb;
}

li.ativo .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    width: 80px;
    height: 80px;
    background-color: #e383ac;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    transition: .5s;
}

li:nth-child(1).ativo ~ .indicator {
    transform: translateX(calc(75px * 0));
}
li:nth-child(2).ativo ~ .indicator {
    transform: translateX(calc(75px * 1));
}
li:nth-child(3).ativo ~ .indicator {
    transform: translateX(calc(75px * 2));
}
li:nth-child(4).ativo ~ .indicator {
    transform: translateX(calc(75px * 3));
}
li:nth-child(5).ativo ~ .indicator {
    transform: translateX(calc(75px * 4));
}

.search-container {
    position: absolute; 
    top: 38px; 
    left: 83%; 
    z-index: 999;
    
}

#search-input {
    padding: 8px 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 200px; 
    
}


#search-input:focus {
    outline: none; 
    border-color: #7533cb; 
}


#bannerHomepage{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
nav{
    width: 100%;
    height: 150px;
}
main{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
    align-items: center;
   
   
}
.navigation {
    width: 500px;
    height: 100px;
    background-color: white;
    display: flex;
   
    justify-content: center;
    border: 1px solid black;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    margin-top: 200px;
    padding-bottom: 300px;
    

}
.section1Contaier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 100%;
    padding-top: 100px;
    
}
.section1Titulo{
 width: 100%;
 height: 200px; 
 color: #292929;
 position: relative;
 font-size: 20px;
 margin-bottom: 90px;
 
}

.ContainerCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    
}

.card{
    height: 500px;
    width: 270px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

#img{
    height: 250px;
    width: 270px;
    border-top-left-radius: 40px;
}

.SubTitulo{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #292929;
    padding-top: 10px;
    width: 100%;
    height: 40px;
    
}

.TextoCards{
   color: rgb(126, 122, 122);
   height: 50px;
   margin-top: 20px;
   
   
}   

.botao{
    background-color: #6322b8; 
    padding: 12px;
    width: 100%;
    border: none;
    margin-bottom: 2px;
    color: white;
    border-radius: 7px;
    margin-top: 40px;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 350px;
    
}

.container_titulo_Sectio2{
    width: 100%;
    height: 50px;
}

#Titulo_Section2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: #292929;
    margin: 0 40px;
}

.ContainerSection2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}

.section2Container1{
    height: 250px;
    width: 570px;
    margin-left: 20px;
}

.section2Container2{
    height: 250px;
    width: 570px;
    margin-right: 20px;

}

#img1Sectio2{
    border-radius: 20px;
}

#img2Section2{
    border-radius: 20px;
}

.textoSection2Cont1{
  width: 240px;
  height: 100px;
  position: relative;
  bottom: 200px;
  left: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.textoSection2Cont2{
  width: 240px;
  height: 100px;
  position: relative;
  bottom: 200px;
  left: 30px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

#texto_Section2_Container1{
   position: relative;
}

#texto_Section2_Container2{
    position: relative;
 }

#botao1Section2{
 background-color: #0E37F1;
 width: 230px;
 height: 50px;
 border-radius: 10px;
 border-style: none;
 position: relative;
 bottom: 180px;
 left: 25px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: white;
 font-size: 17px;
 font-weight: 600;
}

#botao2Section2{
    background-color: white;
    width: 230px;
    height: 50px;
    border-radius: 10px; 
    border-style: none;
    position: relative;
    bottom: 180px;
    left: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0E37F1;
    font-size: 17px;
    font-weight: 600;
}

.section3{
    height: 600px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
}

.section3Container1{
 width: 400px;
 height: 500px;
 display: flex;
 justify-content: center;
}

.section3Container2{
    width: 400px;
    height: 500px; 
}

.section3Container3{
    width: 400px;
    height: 500px; 
    
}

.Titulo_Section3_Cont2{
    position: relative;
    bottom: 400px;
    left: 40px;
    color: #6322b8; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: 500; 
}

.texto_Section3_Cont2{
    color: #292929;; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    width: 300px;
    position: relative;
    bottom: 350px;
    left: 40px;
}

.Titulo_Section3_Cont3{
    position: relative;
    left: 40px;
    top: 100px;
    color: #6322b8; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: 500; 
}

.Lista_Section3{
    color: #292929;; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    left: 50px;
    padding-bottom: 0px;
    text-underline-offset: 0px;
}

.Itens_Lista-Section3{
    text-underline-offset: 0px;
    width: 300px;
    text-decoration: dotted;
    margin-left: 15px;
}

footer{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 250px;
    width: 100%;
    font-size: 16px;
    background-color: #2d0269;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.itens-footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.icon-footer {
    font-size: 25px;
    padding: 0px;
    align-items: center;
    justify-items: center;
    
}
.titulo-footer{
    padding-bottom: 10px;
}
.texto-footer{
    font-size: 13px;
    padding-bottom: 10px;
}
.texto-footer a {
    display: flex;
    justify-items: flex-start;
    justify-content: right;
}
.footer-section-contato{
    ; 
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;

    
}
.footer-section-links {
    
    
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}
.footer-section-redes-sociais{
    
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-bottom: 40px;
    
}
.icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
}

.footer-section-copyright{
 margin-top: 40px;
  
}