* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    width: 100%;
    height: 100vh;
}
main{
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
.imagem{
    height: 750px;
   
}
#imagem-Login{
    height: 750px;
    width: 1000px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.formulario{
    
    width: 500px;
    height: 600px;
    margin-left: 180px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-bottom: 100px;
}

#logo-login{
    width: 450px;
    padding-bottom: 50px;

}
#nome{
  width: 250px;
  height: 40px;
  border-color:#5A97A4 ;
  border-radius: 10px;
}
#senha{
  width: 250px;
  height: 40px;
  border-color:#5A97A4 ;
  border-radius: 10px;
}
#esqueceu-senha{

}
#botao-login{
  width: 250px;
  height: 40px;
  border-radius: 20px;
  background-color: blueviolet;
  color: white;
  font-size: 17px;
  font-weight: 400;
}